.navlink {
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-md);
  margin-bottom: var(--mantine-spacing-xs);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--mantine-spacing-xs);
  color: light-dark(var(--mantine-color-dark-6), var(--mantine-color-gray-0));
  text-decoration: none;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-2),
      var(--mantine-color-dark-6)
    );

    color: var(--mantine-color-blue-text);
  }
}

.active_navlink {
  background-color: light-dark(
    var(--mantine-color-gray-2),
    var(--mantine-color-dark-6)
  );

  color: light-dark(
    var(--mantine-color-blue-text),
    var(--mantine-color-blue-text)
  );
}

.footer {
  border: 1px solid;
  border-color: light-dark(
    var(--mantine-color-gray-3),
    var(--mantine-color-dark-4)
  );
  border-radius: var(--mantine-radius-md);
  padding: var(--mantine-spacing-lg) var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
}

.footer_icon:hover {

}
